.App {
  text-align: center;
  background-color: hsl(281, 33%, 70%);
  height: 100vh;
}

.App-header {
  background-color:  hsl(281, 33%, 40%);
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  padding: 12px 12px;
}