.controls {
    width: 124px;
    height: 40px;
    padding: 8px 0;
    position: fixed;
    bottom: 8px;
    left: 8px;
    border-radius: 12px;
    background-color: hsl(0, 0%, 88%);
    opacity: 0.6;
    display: flex;
    align-items: center;
    justify-content: center;

    > button {

        border: 0;
        background: none;

        > .icon {
            width: 24px;
            height: 24px;
        }
    }

    > p {
        font-size: 16px;
    }
}

